.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #111;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  /* max-width: 120px; */
  max-height: 90px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

.nav-links a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: cyan;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.bar {
  width: 25px;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
}

/* Transform for open menu */
.rotate1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.rotate2 {
  transform: rotate(-45deg) translate(5px, -5px);
}
.hide {
  opacity: 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
